/* rem will change the sizing according to device width & stuff */
:root {
    font-size: 87.5%; /* default font-size: 16px, but we'll make it 14px */
}

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem; /* 21.2px */
}

body {
    background-color: white;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh; /* ensure the body takes at least the full height of the viewport */
}

h1 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: normal;

    font-size: 2.375rem; /* 38px */
    text-align: center;
}

/* The following code formats the navigation bar */
.navbar {
    width: 100%;
    height: 6.25rem; /*100px;*/
    background-color: #A0DBEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 0 10px;
}

.nav_IT_logo {
    display: block;
    margin-left: auto;
}

.nav_link {
    align-items: right;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #F6F6DA
}

a:any-link {
    color: #F6F6DA;
    font-weight: bold;
}

.links {
    font-size: 1.625rem;
}

p {
    margin: 0 4.5rem;
    line-height: 2rem;
}

/* This creates the feedback colored box on the bottom */
footer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: '';
    width: 100%;
    height: 6.25rem;
    background-color: #F6F6DA;
}

.feedback_section {
    text-align: center;
    width: 100%;
    height: 6.25rem;
}

.feedback {
    margin:  .3125rem 0;
}

#feedback_link {
    font-size: 1.5rem; /* 24px */
    color: black;
}

#feedback_paragraph {
    text-align: center;
}