.toolbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

#myBtnContainer {
    float: left;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    font-size: 1rem;
}
  
.filterDiv {
    float: left;
    background-color: #2196F3;
    /* color: #ffffff; */
    color: black;
    width: 22.5rem;
    height: 22.5rem;
    line-height: 100px;
    text-align: center;
    margin: 2.5rem;
    display: none; /* Hidden by default */
    border-radius: .3125rem;
    opacity: .75;
}

h3 {
    opacity: 1;
}

p {
    margin: 0 0.3125rem;
    opacity: 1;
}

#define_success {
    background-color: #EDBA5A;
}

#twos_matrix {
    background-color: #8BE1A8;
}

#ssm {
    background-color: #B4A0EE;
}

#empathy_map {
    background-color: #FCAFE2;
}

#ice {
    background-color: #A0DBEE;
}

#tool_link {
    color: black;
    font-size: 1.375rem;
}

/*** All button and class styling below */

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: .75rem 1rem;
    margin: .3125rem;
    border-radius: .3125rem;
    background-color: #666;
    color: white;
    cursor: pointer;

    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: normal;
    opacity: .8;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a light background to the active button */
.btn.active {
    background-color: #F6F6DA;
    color: black;
    opacity: 1;
}
